.configuration-container {
    display: flex;
    border-bottom: 1px solid #e7e8ec;
    background-color: #fafbfc;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.configuration-container-wrapper {
    display: flex;
    align-items: center;
    height: 100%;
    position: relative;
    padding: 20px 5px;
    border-right: 1px solid #adadad;
}

.configuration-item-container-open {
    display: flex;
    flex-direction: column;
    left: 0;
    width: 100%;
    position: absolute;
    z-index: 100;
    top: 45px;
    height: 300px;
    transition: height 0.5s ease-in;
    background-color: #7289da;
}

.configuration-item-container-close {
    display: block;
    height: 0;
    width: 100%;
    top: 45px;
    left: 0;
    position: absolute;
    z-index: 100;
    transition: height 0.5s ease-in;
    background-color: #7289da;
}

.configuration-container span {
    font-size: 16px;
}

.configuration-container svg:hover {
    color: #adadad;
}

.icon-menu-close {
    transform: rotate(0deg);
    transition: transform 0.5s ease-in;
}

.icon-menu-open {
    transform: rotate(180deg);
    transition: transform 0.5s ease-in;
}

.add-configuration-button {
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    color: #fff;
    border-radius: 8px;
    padding: 10px;
    align-items: center;
    font-size: 16px;
    font-weight: bolder;
    background-color: #002147;
    margin-right: 40px;
}

.add-configuration-button span {
    margin-right: 30px;
}


