* {
    box-sizing: border-box;
}

.textarea-wrapper {
    padding-top: 15px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

 textarea {
    max-width: 100%;
    width: 610px;
    height: 250px;
    min-width: 500px;
    min-height: 160px;
    max-height: 310px;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    resize: none;
    border-radius: 8px;
    border: 1px solid #ddd;
    padding: 0.5rem;
    color: #666;
    box-shadow: inset 0 0 0.25rem #ddd;
}
textarea:focus {
    outline: none;
    border: 1px solid #d0d0d0;
    box-shadow: inset 0 0 0.5rem #d0d0d0;
}

.textarea-wrapper h2 {
    margin: 0 0 15px 0;
    max-width: 400px;
    width: 400px;
    display: flex;
    justify-content: center;
    font-size: 22px;
    font-weight: normal;
}

.mailing-submit-button {
    background-color: rgb(75, 200, 0);
    cursor: pointer;
    padding: 5px 15px;
    border-radius: 8px;
    width: 200px;
    color: #fff;
    font-weight: bolder;
    margin: 40px auto;
    display: flex;
    justify-content: center;
}



.mailing-emails-wrapper input {
    display: flex;
    width: 100%;
    border-radius: 4px;
    height: 40px;
}

.mailing-content-wrapper {
    display: flex;
    flex-direction: column;
}

.mailing-emails-wrapper h2 {
    margin: 0 0 15px 0;
    max-width: 400px;
    width: 400px;
    display: flex;
    justify-content: center;
    font-size: 22px;
    font-weight: normal;
}
.mailing-emails-wrapper {
    padding-top: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.mailing-checkbox-wrapper  {
    margin-top: 20px;
}

.form-counter {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    padding-right: 40px;
    padding-top: 10px;
}

