.profile-entry {
    background-color: #f1f3f4;
    width: 80%;
    display: flex;
    justify-content: space-between;
    border-radius: 9px;
    margin-top: 50px;
    height: 50px;
    border: 1px solid #dadce0;
    margin-left: 50px;
    align-items: center;
}

.profile-content-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 20px;
}

.profile-content-wrapper div div {
    padding-left: 20px;
    font-size: 14px;
}

.profile-content-wrapper div div:nth-child(2) {
    color: #adadad;
}