.reanimation-profile {
    margin-top: 15px;
    display: flex;
    justify-content: flex-start;
    margin-left: 25px;
}

.reanimation-profile input {
    margin-left: 10px;
    padding-left: 20px;
    border: 1px solid rgb(227, 228, 228);
    border-radius: 8px;
    height: 35px;
    display: flex;
    align-content: center;
    outline: none;
}