.Navigation-item {
    display: flex;
    width: 100%;
    background-color: inherit;
    color: #fff;
    padding: 17px 15px;
    font-size: 16px;
    cursor: pointer;
    box-sizing: border-box;
    text-decoration: none;
}

.Navigation-item span {
    margin-left: 18px;
    color: #fff;
    text-decoration: none;
    text-underline: none;
}
.Navigation-item:hover {
    background-color: #656568;
}